
.poetry {
    position: relative;
    counter-reset: my-counter 0;
    width: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.poetry p {
    counter-increment: my-counter 1;
    margin-bottom: 20px;

}
.poetry p::before {
    content: counter(my-counter) " - ";
    font-weight: bold;
    position: absolute;
    left: -25px;


} 



.color li {
    list-style: none;
}

.red::before {
    content: "\2022";
    color: red;
    font-size: 50px;
    display: inline-block;
 
}
.orange::before {
    content: "\2022";
    color: orange;
    font-size: 50px;
    display: inline-block;
 
}
.yellow::before {
    content: "\2022";
    color: yellow;
    font-size: 50px;
    display: inline-block;
 
}
.green::before {
    content: "\2022";
    color: green;
    font-size: 50px;
    display: inline-block;
 
}
.cyan::before {
    content: "\2022";
    color: rgb(111, 160, 243);
    font-size: 50px;
    display: inline-block;
 
}
.blue::before {
    content: "\2022";
    color: blue;
    font-size: 50px;
    display: inline-block;
 
}
.violet::before {
    content: "\2022";
    color: rgb(53, 10, 163);
    font-size: 50px;
    display: inline-block;
 
}

.lighthouse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lighthouse div:first-of-type {
    width: 32px;
    height: 32px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-top: 15px;
}
.lighthouse div:nth-of-type(2) {
    position: relative;
    width: 130px;
    height: 60px;
    background: black;
    z-index: 1;
}
.lighthouse div:nth-of-type(3){
    width: 150px;
    height: 60px;
    border: black 1px solid;
}
.lighthouse div:nth-of-type(4){
    width: 170px;
    height: 60px;
    background: red;
}
.lighthouse div:nth-of-type(5){
    width: 190px;
    height: 60px;
    border: black 1px solid;
}
.lighthouse div:nth-of-type(6){
    width: 210px;
    height: 60px;
    background: red;
}
.lighthouse div:last-of-type{
    width: 250px;
    height: 60px;
    border: black 1px solid;
}
